<div class="footer">
  <div class="footer-content">
    <%= image_tag('logo_branco.svg', class: 'footer-logo') %>
    <div class="footer-icons">
      <%= image_tag('icon-estrela.svg', class: 'icon-estrela') %>
      <%= image_tag('icon-circulo.svg', class: 'footer-icon') %>
      <%= image_tag('icon-triangulo.svg', class: 'footer-icon') %>
      <%= image_tag('icon-quadrado.svg', class: 'footer-icon') %>
    </div>
    <hr class="footer-dash">

    <p class="footer-text">Say hello:<br>fala@bocamiuda.com</p>
  </div>
</div>
