<div class="artist-page-container">
  <%= image_tag('logo_preto.svg', class: 'logo-preto') %>

  <div class="artist-info-container">
    <div class="artist-info-name">
      <%= image_tag('icon-circulo.svg', class: 'artist-icon') %>
      <h2>Carla Santana</h2>
    </div>
    <h3>São Gonçalo</h3>
  </div>

  <div class="artist-img-container">
    <%= image_tag('c1.png', class: 'artist-img') %>
    <p class="artist-img-legenda">Chás de Verão — Críticas Coletivas <br>Fotografia: Loli Brito</p>
  </div>

  <div class="artist-text-content">
    <h1>Nós pensamos  com o corpo todo</h1>
    <p>Desde o início da minha trajetória no teatro junto com a Jade Maria eu justifico minha prática através do meu corpo. Na busca de acessar entranhas doloridas ou não.  Hoje consigo demarcar momentos, pontos, bifurcações e ideias-chaves que pairam a minha produção. No primeiro momento, creio que inconscientemente, acreditava na arte como um meio de cura. Trazer à tona centelhas de lugares emocionais indecifráveis e, ao mesmo tempo, preencher de indagações lacunas sobre a minha experiência num corpo-social repleto de tensões. De prima, minha linha expressiva se aliou à uma necessidade de expurgação. Falo sobre reflexões má digeridas, comunicação sempre foi um problema. Ser vista e ouvida também.</p>
    <p>Queria mostrar os problemas, as dores, as inquietações: o indizível. Quando meu trabalho começa a circular em exposições, atrelado a criação da Trovoa, compreendo uma outra dimensão muito importante: o olhar de fora. Para quem eu estou transmitindo. As interpretações e identificações mostram-me que eu havia traduzido na minha particularidade imagens e sensações que me aproximavam dos meus pares. Então, como guia começo a investigar a linha tênue entre o corpo-social e o corpo-subjetivo, entre o íntimo e o público.</p>
  </div>

  <div class="artist-img-container">
    <%= image_tag('c2.png', class: 'artist-img') %>
    <p class="artist-img-legenda">Recôndita, 2017<br>Vídeo-instalação<br>Duração 2’22’’</p>
  </div>

  <div class="artist-text-content">
    <h1>O mais difícil é começar</h1>
    <p>Falando sobre cura, uma pessoa se fez catapulta, me atirando num processo de afirmação para acreditar no meu processo e impulsioná-lo. Em 2017 conheci a Ângela Brito, nas reuniões da CURA, onde nos reunimos com outras mulheres que trabalham com criação. Estava num momento batendo cabeça e Ângela me disse: "Só pega e faz. Onde te disserem que você não pode, você enfia o pé e diz Eu posso!"</p>
  </div>

  <div class="artist-img-container">
    <%= image_tag('c3.png', class: 'artist-img') %>
    <p class="artist-img-legenda">Sem título, 2020<br>Fotografia 35mm</p>
  </div>

  <div class="artist-text-content">
    <h1>Quero ser lembrada sem ser vista</h1>
    <p>Que a despretensão seja a minha guia.  Uma diretriz que aprendi na prática com a Ana Almeida é a liberdade de fazer e não ter que suprir expectativas alheias. Enquanto mulher negra e artista eu não preciso fazer trabalhos ditos “políticos” o tempo inteiro. A minha liberdade intelectual, estética e expressiva me tiram de um lugar massificado. Agora estou pensando sobre as águas que acometem os meus sonhos constantemente, sobre pegar sol na laje, sobre tartarugas e plantas. Sobre desejos, falta de vontade e clausura. Sobre minhas avós, memória, ancestralidade e esquecimento. Tudo isso enquanto objeto, estudo, texto, imagem, técnica e meio. Absorve e tira o caldo. O produto vem depois.</p>
  </div>

  <div class="artist-img-container">
    <%= image_tag('c4.png', class: 'artist-img') %>
    <p class="artist-img-legenda">Sem Título, 2020<br>Acrílica, pastel e grafiti s\ papel<br>29 x 42 cm</p>
  </div>

  <hr class="artist-page-solid-dash">

  <div class="artist-page-links">
    <div class="artist-link">
      <%= image_tag('social.svg', class: 'social-icon') %>
      <p>@carlassssantana</p>
    </div>
    <div class="artist-link">
      <%= image_tag('download.svg', class: 'social-icon') %>
      <p>download PDF</p>
    </div>
  </div>

</div>

<div class="footer">
  <div class="footer-content">
    <%= image_tag('logo_branco.svg', class: 'footer-logo') %>
    <div class="footer-icons">
      <%= image_tag('icon-estrela.svg', class: 'icon-estrela') %>
      <%= image_tag('icon-circulo.svg', class: 'footer-icon') %>
      <%= image_tag('icon-triangulo.svg', class: 'footer-icon') %>
      <%= image_tag('icon-quadrado.svg', class: 'footer-icon') %>
    </div>
    <hr class="footer-dash">

    <p class="footer-text">Say hello:<br>fala@bocamiuda.com</p>
  </div>
</div>
